$badge-colors: (
    default: (bg-color: #e2e8f0, text-color: #475569),
    easy: (bg-color: #dcfce7, text-color: #166534),
    normal: (bg-color: #dbeafe, text-color: #1e3a8a),
    hard: (bg-color: #ffedd5, text-color: #9a3412),
    insane: (bg-color: #fee2e2, text-color: #991b1b)
);